.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main{
  background-color: red;
}
.images{
  background-image:url( './images/chai.png');

  /* background: transparent; */
  /* background-color: #00d4ff; */
}
.img-fluid{
  width:100%;
  height:100vh;
  object-fit: cover;
}

.connected{
  /* background-color: red; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 300px;
  font-size: 25px;
  color: white;
}

.contents{
  position: absolute;
  top:0;
  left:0;
  right: 0%;
  margin:50px auto;
  /* background-color: red; */
  /* padding:200px; */
  filter: blur(px); 
}
